__pycache__/
src/moobius.egg-info/

projects/*/json_db/
projects/*/logs/
projects/*/config/service.json
projects/*/config/agent.json
projects/*/config/user.json
projects/*/config/account.json
projects/*/temp/

.idea/
/venv/