__pycache__/
src/moobius.egg-info/

projects/*/json_db/
projects/*/logs/
projects/*/config/service.json
projects/*/config/agent.json
projects/*/config/user.json
projects/*/config/account.json
projects/*/config/service.json
projects/*/config/usermode_account.json
projects/*/config/usermode_service.json
projects/*/temp/
Read_the_docs_AUTOgen/*

.idea/
/venv/